@font-face{
  font-family: "Indira";
  src:url("Indira_K.ttf");
}

@font-face {
    font-family: "rubik_med";
    src:url("Rubik_Medium.ttf");
}

@font-face {
  font-family: "Cormoran";
  src:url("cormorantupright-semibold1-webfont.ttf");
}

@font-face {
  font-family: "Play_black";
  src:url("PlayfairDisplaySC-Black.ttf");
}

@font-face {
  font-family: "Play_black_ital";
  src:url("Playfair_black_italic.ttf");
}

@font-face {
  font-family: "Play_reg";
  src:url("PlayfairDisplaySC-Regular.ttf");
}

@font-face {
  font-family: "rubikital";
  src:url("Rubik_Italic_none.ttf");
}

@font-face {
  font-family: "rubikreg";
  src:url("Rubik_Regular_none.ttf");
}

@font-face {
  font-family: "rubikmed";
  src:url("Rubik_Medium.ttf");
}

body{
margin: 0px;
overflow-x: hidden;
overflow-y: scroll;
}

.titre_projet{
  font-family: "rubik";
  font-size: 40;
}

.titre_projet:hover{
  font-family: "Cormoran";
  font-size: 50;
}


.colonneimg{
  left: 0px;
  width: 60%;
  height: 100%;
  background-color: white;
  overflow-y: scroll;
  float: left;
}

.titreexpl{
  font-family:"Play_black";
  font-size: 35px;
  line-height: 1;
  text-transform: uppercase;
  color: black;
}

.page_projet{
  width:100%;
  height:100%;
  background:red;
  z-index: -1;
}

.titres1{
  width:100%;
  position:relative;
  left:15px;
  margin-right: 15px;
  color:white;
  font-family:"Play_black";
  font-size: 70px;
  transition-property: color;
  transition-duration: 0.5s;
  text-transform: uppercase;
}

.titres1:hover{
color:black;
cursor: crosshair;
}

.image_test{
  position:fixed;
  z-index:1;
}

.image{
  position: fixed;
  }

.colonnetxt{
  left:60%;
  float: left;
  position: fixed;
  font-family: "rubikreg";
  font-size: 40;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 10px;
  width: 38%;
  height: 100%;
  overflow-y: scroll;
  margin: 0px;
}

.contact_julie{
  font-family:Indira;
  z-index: 101;
  right: -40px;
  top: 100px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  position: fixed;
  color: grey;
}

.contact_julie:hover{
  color: black;
  cursor: pointer;
}

.contact_bio{
}

.container_global{
  background: red;
  position:1;
  width: 100%;
  height: auto;
}

.slider{
z-index: 99;
margin-left: 0px;
top:10px;
position: absolute;
display: none;
}

.slider img {
height: auto;
width: 62%;
margin-top: 20px;
}

.container_text1{
  overflow: hidden;
  position: fixed;
  z-index: 99;
  width:  calc(30% - 17px);
  height: 90%;
  bottom: 25px;
  left: 66%;
  display: none;

}

.container_text2{
  overflow-y: scroll;
  z-index: 99;
  width: 100%;
  height: 90%;
  bottom: 25px;
  left: 66%;
  padding-right: 15px;
}

.legende{
  font-size: 14px;
  position: relative;
  text-align: center;
  font-family: "rubikmed";
  line-height: 18px;
}

.box_text{
  line-height: 20px;
  background: white;
  font-family: "rubikreg";
  //border: solid 0.5px black;
  //box-shadow: 2px 2px  black;
}

.title_prez{
  font-family:"Play_black";
  font-size: 50px;
  color:black;
  z-index: 102;
  top: 10px;
  margin-right: 4%;
  position: fixed;
  text-align: right;
  width:auto;
  height: auto;
  outline: red solid 1px;
}


.box_text:hover{
  z-index: 100;
}

.slidesjs-next, .slidesjs-previous{
  width: 50%;
  height: 100%;
  z-index: 100;
  position: relative;
  float:left;
}

.slidesjs-next{
  cursor: e-resize !important;
}

.slidesjs-previous{
  cursor: w-resize !important;
}

.bouton_shutdown, .bouton_shutdown2{
  margin-left: 15px;
  margin-top: 15px;
  z-index: 1000;
  position: fixed;
  display: none;
  cursor: pointer;
}

.fleche_droite{
  margin-top: 15px;
  margin-left: 75px;
  z-index: 1000;
  position: fixed;
  display: none;
  cursor: pointer;
}

#degrade{
  position: fixed;
  bottom: 0px;
}


#contact_cacher{
  top: 0px;
  padding-left: 70px;
  padding-top: 70px;
  width: 100%;
  height: 100%;
  background-color:white;
  z-index: 100;
  position: fixed;
  font-family:"rubikreg";
  font-size: 20;
  color: black;
  text-align: left;
  cursor: crosshair;
  overflow-y: scroll;
}

#contact_cacher_Black{
  font-family:"Play_black";
  font-size: 20;
  color: black;
  text-align: left;
  text-transform: uppercase;
  text-indent:20px;
}

.contact_cacher_Black_title{
  font-family:"Play_black";
  font-size: 45px;
  color: black;
  text-align: left;
  text-transform: uppercase;
  text-indent:20px;
  cursor: pointer;
}

.contact_cacher_Black_title:hover{
  color:grey;
}

#julie_Black{
  font-family:"rubik_med";
  font-size:30px;
  color: black;
  text-align: left;
  text-transform: uppercase;
  text-indent:20px;
}


#contact_cacher_ital{
  font-family: "rubikital";
  font-size: 20;
  color: black;
  text-align: left;
}

#slider_cacher{

}

/*::-webkit-scrollbar {
  width: 26px;
  height: 26px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border: 8px solid #000000;
  border-radius: 0px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border: 8px solid #000000;
  border-radius: 0px;
}


::-webkit-scrollbar-corner {
  background: transparent;
}*/
